In [1]:
print("Welcome to Code From Basics")

Welcome to Code From Basics

## **Featurs of Python**

1. Easy to Learn
2. Open source
3. Dynamically Typed
4. Pure Object Oriented Programming
5. GUI Programming
6. Rich Library in various fields
7. Good Performance
8. Platform Independent(Cross Platform)
9. Community
10. Interpreted

In [1]:
num=10
a=10
print(num)

# dynamically types

# Data Analyst
# Data Engineer
# ML Engineer
# Data Scientist
# Web Developer
# AI Engineer
# Image processing
# Devops
# ETL

SyntaxError: invalid syntax (<ipython-input-1-438ad1ea5948>, line 5)

## Operators in Python
1. Arithmetic Operator
2. Relational Operator
3. Bitwise Operator
4. Assignment Operator
5. Membership Operator
6. Identity Operator
7. Logical Operator

In [4]:
 # Arithmetic Operator

 num1=10
 num2=3
 print(num1,"+",num2,"=",num1+num2)
 print(num1,"-",num2,"=",num1-num2)
 print(num1,"*",num2,"=",num1*num2)
 print(num1,"/",num2,"=",num1/num2)
 print(num1,"//",num2,"=",num1//num2)#floor division only quotient (without decimal)
 print(num1,"%",num2,"=",num1%num2)#reminder
 print(num1,"**",num2,"=",num1**num2)#exp

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000

In [5]:
#Relational Operator

print(num1,"<",num2,"=",num1<num2)
print(num1,"<=",num2,"=",num1<=num2)
print(num1,">",num2,"=",num1>num2)
print(num1,">=",num2,"=",num1>=num2)
print(num1,"==",num2,"=",num1==num2)
print(num1,"!=",num2,"=",num1!=num2)

10 < 3 = False
10 <= 3 = False
10 > 3 = True
10 >= 3 = True
10 == 3 = False
10 != 3 = True

In [7]:
#Bitwise operator
print(~num1)#negative of the next number
print(num1<<2)

-11
40

In [12]:
# Assignment operator

acctBalance=1000
#deposit 500 rupees into the account
acctBalance+=500 #new value of acctBalance is 1500 acctBalance+=500
print("After depositing 500 Rs",acctBalance)

#withdraw 100 Rupees
acctBalance-=100
print("After withdrawing 100 Rs",acctBalance)

#getting interest of 10%

acctBalance*=1.10
print("After getting interest",acctBalance)

#
acctBalance/=2
print("After paying loan",acctBalance)

After depositing 500 Rs 1500
After withdrawing 100 Rs 1400
After getting interest 1540.0000000000002
After paying loan 770.0000000000001

In [3]:
# membership operator- re

friends=['Hari','Vishnu','John']
print('Hari' in friends)#True
print('Hari' not in friends)#False
print('Dinesh' not in friends)
print('an' in 'I love Python Programming an Python programming is easy')

True
False
True
True

In [11]:
# identity operator
val1=10
val2='10'
val3=9
print(val1)
print(id(val1))
print(id(val2))
print(val1 is val2)#returns True if both are avaialable in same memory
print(val1 is not val2)#return False if both are not available in same memory
print(val1 is val3)
print(val1 is not val3)

10
140075145576976
140075138176624
False
True
False
True

In [13]:
# Logical operator and or not
# and both condition must be true, then output is true
# print(True and True)# true
# print(True and False)
# print(False and True)
# print(False and False)

print(7>3 and 6>3)# true
print(7>4 and 6>7)# false
# print(False and True)
# print(False and False)

print(7>3 or 6>3)# true
print(7>4 or 6>7)# true
print(False or True)
print(8>9 or 7>9)

#not means reverse of the actual answer
print(not(7>3 and 6>3))#not(true)-> false
print(not(7>4 and 6>7))#not(false)-> true

isPresent
isRegister
hasCar
hasPhone

not isPresent
not isRegister

first-name-Person
first_name_person

True
False
True
True
True
False

In [18]:
# 1+True-> in python true is 1 or nonzero, false means ZeroD
print(5>True)
print(not 5)
print(1<15<10) #1<15 and 15<10

True
False
False

In [1]:
# expression will have some output
result=(10+20)*30/2-7;#PEMDAS
print(result)

# 10+600/2-7
# 10+300-7
# 310-7
# 303

443.0

**Getting Input from user**

In [4]:
username=input("enter your name")
print("you have entered",username)

enter your nameDinesh
you have entered Dinesh

In [9]:
number=input("enter a number") #20
number=int(number) #convert the string number into integer number
print("type of the number is",type(number))#int
number=number+3 # will add 3 + value of the number
print("final",number)

enter a number34
type of the number is <class 'int'>
final 37

In [1]:
# Find a simple interest
# 1. principal( get from user)
# 2. interest 10.4%
# 3. Rate of Interest 24 months

Conditional Statements

In [3]:
age=19
if(age>18):# executes only for True statements
  print("You are eligible to vote")
else:#will execute for false statment only
  print("You are not eligible to vote")

You are eligible to vote

In [6]:
number=int(input("Enter a number"))
if(number>0):
  print("Number is positive")
elif(number<0):
  print("Number is negative")
else:
  print("Number is zero")

Enter a number-9
Number is negative

In [10]:
#Any non zero value is true

if(-10):
  print("True")
else:
  print("False")


if(0):
  print("True")
else:
  print("False")

True
False

In [22]:
#loops- will execute until it reaches the last element or condition fails

#for loop is definite
for i in [1,2,3,4,5]:
  print(i,i*i,sep='-',end=' ') #1-1 2-4 3-9 4-16 5-25
print("\n")
for i in "Good Morning":
  print(i,end=' ')

1-1	2-4	3-9	4-16	5-25

G o o d   M o r n i n g

In [25]:
lst=[11,22,33,44,55]
print(lst[1])#22
print(lst[2])#33
# index0, 1 ,2 ,3 ,4
idx=0
print('inside while loop')
while(idx<len(lst)):
  print(lst[idx])
  idx+=1#idx will be taken to next value
print('print in reverse')
idx=len(lst)-1
while(idx>=0):
  print(lst[idx])
  idx-=1#idx will be taken to next value

22
33
inside while loop
11
22
33
44
55
print in reverse
55
44
33
22
11

In [29]:
print(list(range(5)))# 0-4
print(list(range(1,5)))# 1-4
print(list(range(10,30,2)))# 2 is the step value

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]