In [ ]:
print("Welcome to Code From Basics")

Welcome to Code From Basics

## **Featurs of Python**

1. Easy to Learn
2. Open source
3. Dynamically Typed
4. Pure Object Oriented Programming
5. GUI Programming
6. Rich Library in various fields
7. Good Performance
8. Platform Independent(Cross Platform)
9. Community
10. Interpreted

In [ ]:
num=10
a=10
print(num)

# dynamically types

# Data Analyst
# Data Engineer
# ML Engineer
# Data Scientist
# Web Developer
# AI Engineer
# Image processing
# Devops
# ETL

SyntaxError: invalid syntax (<ipython-input-1-438ad1ea5948>, line 5)

## Operators in Python
1. Arithmetic Operator
2. Relational Operator
3. Bitwise Operator
4. Assignment Operator
5. Membership Operator
6. Identity Operator
7. Logical Operator

In [ ]:
 # Arithmetic Operator

 num1=10
 num2=3
 print(num1,"+",num2,"=",num1+num2)
 print(num1,"-",num2,"=",num1-num2)
 print(num1,"*",num2,"=",num1*num2)
 print(num1,"/",num2,"=",num1/num2)
 print(num1,"//",num2,"=",num1//num2)#floor division only quotient (without decimal)
 print(num1,"%",num2,"=",num1%num2)#reminder
 print(num1,"**",num2,"=",num1**num2)#exp

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000

In [ ]:
#Relational Operator

print(num1,"<",num2,"=",num1<num2)
print(num1,"<=",num2,"=",num1<=num2)
print(num1,">",num2,"=",num1>num2)
print(num1,">=",num2,"=",num1>=num2)
print(num1,"==",num2,"=",num1==num2)
print(num1,"!=",num2,"=",num1!=num2)

10 < 3 = False
10 <= 3 = False
10 > 3 = True
10 >= 3 = True
10 == 3 = False
10 != 3 = True

In [ ]:
#Bitwise operator
print(~num1)#negative of the next number
print(num1<<2)

-11
40

In [ ]:
# Assignment operator

acctBalance=1000
#deposit 500 rupees into the account
acctBalance+=500 #new value of acctBalance is 1500 acctBalance+=500
print("After depositing 500 Rs",acctBalance)

#withdraw 100 Rupees
acctBalance-=100
print("After withdrawing 100 Rs",acctBalance)

#getting interest of 10%

acctBalance*=1.10
print("After getting interest",acctBalance)

#
acctBalance/=2
print("After paying loan",acctBalance)

After depositing 500 Rs 1500
After withdrawing 100 Rs 1400
After getting interest 1540.0000000000002
After paying loan 770.0000000000001

In [ ]:
# membership operator- re

friends=['Hari','Vishnu','John']
print('Hari' in friends)#True
print('Hari' not in friends)#False
print('Dinesh' not in friends)
print('an' in 'I love Python Programming an Python programming is easy')

True
False
True
True

In [ ]:
# identity operator
val1=10
val2='10'
val3=9
print(val1)
print(id(val1))
print(id(val2))
print(val1 is val2)#returns True if both are avaialable in same memory
print(val1 is not val2)#return False if both are not available in same memory
print(val1 is val3)
print(val1 is not val3)

10
140075145576976
140075138176624
False
True
False
True

In [ ]:
# Logical operator and or not
# and both condition must be true, then output is true
# print(True and True)# true
# print(True and False)
# print(False and True)
# print(False and False)

print(7>3 and 6>3)# true
print(7>4 and 6>7)# false
# print(False and True)
# print(False and False)

print(7>3 or 6>3)# true
print(7>4 or 6>7)# true
print(False or True)
print(8>9 or 7>9)

#not means reverse of the actual answer
print(not(7>3 and 6>3))#not(true)-> false
print(not(7>4 and 6>7))#not(false)-> true

isPresent
isRegister
hasCar
hasPhone

not isPresent
not isRegister

first-name-Person
first_name_person

True
False
True
True
True
False

In [ ]:
# 1+True-> in python true is 1 or nonzero, false means ZeroD
print(5>True)
print(not 5)
print(1<15<10) #1<15 and 15<10

True
False
False

In [ ]:
# expression will have some output
result=(10+20)*30/2-7;#PEMDAS
print(result)

# 10+600/2-7
# 10+300-7
# 310-7
# 303

443.0

**Getting Input from user**

In [ ]:
username=input("enter your name")
print("you have entered",username)

enter your nameDinesh
you have entered Dinesh

In [ ]:
number=input("enter a number") #20
number=int(number) #convert the string number into integer number
print("type of the number is",type(number))#int
number=number+3 # will add 3 + value of the number
print("final",number)

enter a number34
type of the number is <class 'int'>
final 37

In [ ]:
# Find a simple interest
# 1. principal( get from user)
# 2. interest 10.4%
# 3. Rate of Interest 24 months

Conditional Statements

In [ ]:
age=19
if(age>18):# executes only for True statements
  print("You are eligible to vote")
else:#will execute for false statment only
  print("You are not eligible to vote")

You are eligible to vote

In [ ]:
number=int(input("Enter a number"))
if(number>0):
  print("Number is positive")
elif(number<0):
  print("Number is negative")
else:
  print("Number is zero")

Enter a number-9
Number is negative

In [ ]:
#Any non zero value is true

if(-10):
  print("True")
else:
  print("False")


if(0):
  print("True")
else:
  print("False")

True
False

In [ ]:
#loops- will execute until it reaches the last element or condition fails

#for loop is definite
for i in [1,2,3,4,5]:#[] list () it tupble {} dictionary
  print(i,i**3,sep='-',end='\t') #1-1 2-4 3-9 4-16 5-25
print("\n")
for i in "Good Morning":
  print(i,end=' ')

1-1	2-8	3-27	4-64	5-125

G o o d   M o r n i n g

In [ ]:
lst=[11,22,33,44,55] #len(lst) is 5
#    0, 1 ,2 ,3 ,4      #index
# ------------------------
#   -5,-4,-3,-2,-1      negative index
print(lst[1])#22
print(lst[2])#33
print(lst[-1])

#moving from left to right -> Ascending Order
idx=0
print('inside while loop')
while(idx<len(lst)):  #0<5 1<5
  print(lst[idx])     #lst[0]->11 lst[1]->2
  idx+=1#idx will be taken to next value
print('print in reverse')

# moving from right to left  -> Descending order
idx=len(lst)-1 # 5-1
while(idx>=0):
  print(lst[idx])
  idx-=1   #idx will be taken to next value

22
33
inside while loop
11
22
33
44
55
print in reverse
55
44
33
22
11

In [ ]:
print(list(range(5)))# 0-4
print(list(range(1,5)))# 1-4
print(list(range(10,30,2)))# 2 is the step value

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
for i in range(10,30,2): #starts with 10 till 30 and takes even number, ends with last number(here it is 30)
  print(i,end=' ')

10 12 14 16 18 20 22 24 26 28

Difference between for loop and while loop

**in for loop** you can say how many iterations it will take to complete the execution

**in while loop** you can use when you don't know number of iteration

In [ ]:
# get the input from user until he stops and give the sum of the numbers

total=0
while(True):
  number=int(input('Enter your number'))
  total+=number
  choice=input('would you like to enter another or type no to exit')
  if(choice in ('No','no')):
    break

print('total',total)

Enter your number10
would you like to enter another or type no to exityes
Enter your number20
would you like to enter another or type no to exitno
total 30

In [ ]:
for i in range(10,41):
  if(i%2==0):
    continue
  print(i,end=' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

List in Python

1. Mutable(data can be changed)
2. List elements are iterated using its index number
3. list elements are enclosed with square brackets
4. we can slice the data using :
5. list can have any data type ex;[True, 10, 10.56, 'A',"Hello",[77,876]]
6. we can traverse the elements using for loop and while loop

In [ ]:
lst=list() #emptylist

print(lst)
lst2=[]
print(lst2)

[]
[]

In [ ]:
mylist=list(range(11,25))
# print("mylist at the beginning",mylist) #[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

# #accessing elements using index number

# print(mylist[0])#accessing 1st element
# print(mylist[4])#accessing 5th element
# print(mylist[-1])#accessing last element
# print(mylist[-2])#accessing second last element

#slicing-> taking a portion of data from dataset

# print(mylist[4:11]) #mylist[start:end]-> from start index to end index -1

# print(mylist[4:11:2])#mylist[start:end:step]

# Take away from the above slicing
# 1. moving from left to right -> forward direction
# 2. number before the : should be smaller than number after the :

#[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
# -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1
#negative number for slicing, in negative -7 is lesser than -4
# print(mylist[])

# print(mylist[-7:-1])#[18, 19, 20, 21, 22, 23]
# print(mylist[-8:-3])#[17, 18, 19, 20, 21]
# print(mylist[-3:-8]) #not work -3 is greater than -8


# to print data from start index number without passing end index number
# print(mylist[7:])# start with 7 and end at the last element
# print(mylist[:7])# start with 0 and end at the 7-1 (6)

#print full list dont give any index number inside square bracket except colon

print("full list",mylist[:])


#how list is mutable
# change the starting number from 11 to 121

mylist[0]=121 # [121, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
print("After changing the 11 to 121", mylist)



#for loop picks the number from mylist and print the output as a individual number
for i in mylist:
  print(i,i*i,sep='**',end='|')

full list [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
After changing the 11 to 121 [121, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
121**14641|12**144|13**169|14**196|15**225|16**256|17**289|18**324|19**361|20**400|21**441|22**484|23**529|24**576|

In [ ]:
numbers=[56,78,34]
list_sumofdigits=[]
for i in numbers:
  q=i//10 #quotient
  r=i%10 #reminder
  list_sumofdigits.append(q+r)
print(list_sumofdigits)

[11, 15, 7]

methods in a list

In [ ]:
lst=[33,44,55,66,77]
#adding one element to the list at the end- append
lst.append(109)
print(lst)

#to add mulitiple elements-> extend
lst2=[1,2,3]
lst.extend(lst2)
print(lst)

#to delete an element
#method 1
lst.remove(44)
print(lst)

#remove using index- pop
# method2

lastelement=lst.pop()
print("element remove",lastelement)
print(lst)

element3=lst.pop(2)
print(" 3rd element remove",element3)
print('after deleteing 3rd element',lst)

#method 3

del lst[:3]
print("after using del lst[:3]",lst)

[33, 44, 55, 66, 77, 109]
[33, 44, 55, 66, 77, 109, 1, 2, 3]
[33, 55, 66, 77, 109, 1, 2, 3]
element remove 3
[33, 55, 66, 77, 109, 1, 2]
 3rd element remove 66
after deleteing 3rd element [33, 55, 77, 109, 1, 2]
after using del lst[:3] [109, 1, 2]

In [ ]:
# print("sum",sum(lst) )#[109, 1, 2]
# print("max",max(lst))
# print("min",min(lst))
# print("len",len(lst))

before sort [1, 2, 3, 3, 109]
sorted [109, 3, 3, 2, 1]
after sort [1, 2, 3, 3, 109]

In [ ]:
lst2=[3,6,4,1]
# lst2.sort()
print(sorted(lst2))
print(lst2)

[1, 3, 4, 6]
[3, 6, 4, 1]

Tuples

1. It is immutable
2. elements can be accessed using its index number like List and String
3. Elements are enclosed with ()
4. we have only two functions in tuples index,count

In [2]:
# Creating Tuples

t1=()
print(t1)
t2=tuple()
print(t2)

()
()

In [4]:
# creating tuple with some content
GenAI=('Deepseek','Chat GPT','Copilot')
print(GenAI)

('Deepseek', 'Chat GPT', 'Copilot')

In [5]:
#length of the tuple
print(len(GenAI))

3

('Deepseek','Chat GPT','Copilot')<br/>

```
# This is formatted as code
'Deepseek','Chat GPT','Copilot')
  0            1         2        -> Index
```

In [13]:
#accessing the elements using it index

print(GenAI[1])

print(GenAI[len(GenAI)-1])# Last

Chat GPT
Deepseek



```
Negative Indexing- beginning from the end, -1 refers to last Item,list/tuple/string
('Banana','Orange','Guava','Lemon')
  -4          -3     -2       -1  
```

In [18]:
fruits=('Banana','Orange','Guava','Lemon')
print(fruits[-1])
print(fruits[-2])
fruits[0][1]#Banana[1]->a

Lemon
Guava

'a'

Slicing of Tuple

```

[:]-> full tuple
[1:]-> from 1st index to last index
[:4]-> from 0th index to 4-1 index(3)

('Banana','Orange','Guava','Lemon','Papaya') # 5
   -5        -4     -3      -2       -1
   0          1      2       3        4
```

In [28]:
fruits=('Banana','Orange','Guava','Lemon','Papaya')
print(fruits[:])
print(fruits[1:])
print(fruits[:4])  #fruits[:4-1]

#Negative Indexing
print("fruits[-4:]",fruits[-4:])
print("fruits[-3:-1]",fruits[-3:-1])# fruits[-3:-1-1]

('Banana', 'Orange', 'Guava', 'Lemon', 'Papaya')
('Orange', 'Guava', 'Lemon', 'Papaya')
('Banana', 'Orange', 'Guava', 'Lemon')
fruits[-4:] ('Orange', 'Guava', 'Lemon', 'Papaya')
fruits[-3:-1] ('Guava', 'Lemon')

In [30]:
print(fruits)
# fruits[0]="SweetLine" #TypeError: 'tuple' object does not support item assignment

#convert the tuple to list
fruits=list(fruits)#convert the tuple to list
print(fruits)
fruits[0]="SweetLime"
print(fruits)
fruits=tuple(fruits)
print(fruits)#convert the list to tuple

['SweetLime', 'Orange', 'Guava', 'Lemon', 'Papaya']
['SweetLime', 'Orange', 'Guava', 'Lemon', 'Papaya']
['SweetLime', 'Orange', 'Guava', 'Lemon', 'Papaya']
('SweetLime', 'Orange', 'Guava', 'Lemon', 'Papaya')

Checking the element is already available in tuple

In [32]:

print('Orange' in fruits)
if('Orange' in fruits):
  print("Orange is available in fruits")

True
Orange is available in fruits

In [34]:
veggies=('Tomato','Potato','Onion')
fruits_veggies=fruits+veggies
print(fruits_veggies)

('SweetLime', 'Orange', 'Guava', 'Lemon', 'Papaya', 'Tomato', 'Potato', 'Onion')

In [35]:
#delete Veggies deleting a tuple
del veggies
# print(veggies)# NameError: name 'veggies' is not defined

NameError: name 'veggies' is not defined

In [39]:
#functions in tuples
print("fruits_veggies.count('Orange')",fruits_veggies.count('Orange'))
print("fruits_veggies.index('Lemon')",(fruits_veggies.index('Lemon')))

fruits_veggies.count('Orange') 1
fruits_veggies.index('Lemon') 3

Enumerate-To print the index of the element in the list using python

In [48]:
for i,e in enumerate(fruits_veggies):
  print(f'Index-{i},Element{i+1}-{e}')

Index-0,Element1-SweetLime
Index-1,Element2-Orange
Index-2,Element3-Guava
Index-3,Element4-Lemon
Index-4,Element5-Papaya
Index-5,Element6-Tomato
Index-6,Element7-Potato
Index-7,Element8-Onion

In [53]:
positive_index_of_Guava=fruits.index('Lemon')
print(positive_index_of_Guava)
# negativeIndex is length of the tuple - positve index
negativeIndex_of_Guava=positive_index_of_Guava-len(fruits)
print(negativeIndex_of_Guava)

3
-2

Getting negative index



```
('Banana','Orange','Guava','Lemon','Papaya') # 5
   -5        -4     -3      -2       -1
   0          1      2       3        4
```

Unpacking Demo

In [71]:
a,b,*c = [1,2,6,3]
print(a,b,c)

1 2 [6, 3]

**Set**
1. No duplicates are allowed
2. Elements doesn't have index(unindex)
3. Order of insertion is not guranteed(unordered)
4. accessing set can be done using only for loop
5. Elements are enclosed with {}

In [73]:
emptyset=set()
print(emptyset)
emptyset2={} #this is dictionary not a set
print(emptyset2)

set()
{}

In [76]:
books={'C Programming','Python Programming','Masterting DataScience','Mastering Data Engineering'}

In [77]:
print(books)

{'Masterting DataScience', 'Python Programming', 'C Programming', 'Mastering Data Engineering'}

Accessing Items in set
we use loops

In [78]:
# books[0]#error  TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

Adding Item(Books) to a set

In [79]:
books.add("Machine Learning") # add() function will allow only one item to add
print(books)

{'Python Programming', 'Machine Learning', 'Masterting DataScience', 'C Programming', 'Mastering Data Engineering'}

Check the Item(book) already available in the Books set

In [80]:
print('Machine Learning' in books)

True

To add multiple items into a set

In [82]:
#adding two items {'Deep Learning','NLP'}
books.update({'Deep Learning','NLP'})
print(books)

{'Deep Learning', 'Python Programming', 'Machine Learning', 'Masterting DataScience', 'NLP', 'C Programming', 'Mastering Data Engineering'}

Removing Items from a set

In [83]:
books.remove('C Programming')
print(books)

{'Deep Learning', 'Python Programming', 'Machine Learning', 'Masterting DataScience', 'NLP', 'Mastering Data Engineering'}

In [84]:
removeedBook=books.pop()
removeedBook

'Deep Learning'

In [87]:
#remove all the elements and books set will be empty(not deleted)
books.clear()
print(books)
books.add("C Programming")
print(books)

set()

In [88]:
del books
# print(books.add("C Programming"))# NameError: name 'books' is not defined

NameError: name 'books' is not defined

Converting List to Set and Set to List

In [91]:
names=['Raju','Vishu','Jagan','Kalai','Raju','Vishu','Jagan']
print(names.count('Raju'))
names_set=set(names)
print(names_set)
names=list(names_set)
print(names)

2
{'Raju', 'Jagan', 'Vishu', 'Kalai'}
['Raju', 'Jagan', 'Vishu', 'Kalai']

**Dictionaries in Python**

1. Elements in the dictionary is a Key,Value Pair
2. Key cannot be duplicated
3. Value can be duplicated
4. Dictionary values are mutable(Changeable)
5. Accessing the Dictionary elements using Key, not by index(no index in dictionary)
6. Elements are enclosed with {}

Ex:{"key1":"val1","key2":"val2","key3":"val3","key4":"val4"}

In [2]:
#creating a empty dictionary
emptydict={}
print(emptydict)
emptydict2=dict()
print(emptydict2)

{}
{}

In [4]:
# prompt: create a dictionary name students with following keys firstname,lastname, age, class, year, skills is a list, country address is dictionary

students = {
    'firstname': 'John',
    'lastname': 'Doe',
    'age': 20,
    'class': '10th',
    'year': 2024,
    'skills': ['Python', 'Java', 'C++'],
    'country': 'USA',
    'address': {
        'street': '123 Main St',
        'city': 'Anytown',
        'zip': '12345'
    }
}

print(students)

{'firstname': 'John', 'lastname': 'Doe', 'age': 20, 'class': '10th', 'year': 2024, 'skills': ['Python', 'Java', 'C++'], 'country': 'USA', 'address': {'street': '123 Main St', 'city': 'Anytown', 'zip': '12345'}}

In [8]:
#to print firstname
print("firstname",students['firstname'])
print("age",students['age'])
print("1st skill",students['skills'][0])
print("city",students['address']['city'])
print("lastname",students['lastname'])
print("number of skills",len(students['skills']))

firstname John
age 20
1st skill Python
city Anytown
lastname Doe
number of skills 3

In [10]:
#print keys
print(students.keys())
print(students.values())

dict_keys(['firstname', 'lastname', 'age', 'class', 'year', 'skills', 'country', 'address'])
dict_values(['John', 'Doe', 20, '10th', 2024, ['Python', 'Java', 'C++'], 'USA', {'street': '123 Main St', 'city': 'Anytown', 'zip': '12345'}])

In [13]:
#accessing values using get method,  to avoid errors in the key

print(students['age1'])#if key is not present, it will raise an error and program will not execute the lines after that
print(students.get('age1'))# if the key is not available it will show None and execute the lines after that

None

In [14]:
#MOdifying the dictionary values
print(" before modifying firstname",students['firstname'])
students['firstname']='Peter' # modified the John to Peter
print(" after Modifying firstname",students['firstname'])

 before modifying firstname John
 after Modifying firstname Peter

In [17]:
#checking the key is already exist in the Students Dictionary
print('firstname' in students)
print('isMarried' in students)

True
False